<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Shark Questions">
    <title>Shark Questions</title>
    <!-- styles -->
    <link href="styles/home.css" rel="stylesheet" type="text/css" >
    </head>
    <header>
        <h1>New Sharks Forum</h1>
    </header>
    <nav>
        <a href="home.html">Home</a> ||
        <a href="login.html">Login</a>
    </nav>
    <body>
        
        <p>Posted by: <!--User--></p>
        <p>Date: <!--Date--></p>
        <p>This is where the text will go, delete me when you have placed the python in.<!--Text--></p>

        <h2>Question Title:<!--Question Title--></h2>
        <!--Will need to be connected to the database to get question saved-->
        <p><input type="text" name="title" value=""/></p> 
        <p>Question:</p>
        <p>
            <!--User's already answered question ready for edit.-->
            <textarea name="noteText"  rows="6" cols="0" >This will contain the user's saved question that they are editing. Delete this after inserting the python.</textarea>
        </p>        
        <!--Saves the edits and then returns to selected_question.html-->
        <form>
            <input type="submit" value="Save">
        </form>
        <!--Allows User to delete during the editing process.-->
        <form>
            <input type="submit" value="Delete">
        </form>
        <!--End of if statement-->

        <h3>Replies</h3>
         <!--Loop for placing the notes from the database-->
         <table class="replies_list">
            <tr>
                <th>User</th>
                <th>Reply</th>
                <th>Date</th>
            </tr>
            <!--Loop for placing the replies from the database-->
            <tr>
                <td><!--Username--></td>
                <td><!--Reply--></td>
                <td><!--Date--></td>

                <!--If statement here, if the user created the reply, they are allowed to edit it and delete it,-->
                <td><!--Connect Edit Method/Link-->
                    <form>
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td><!--Connect Delete Method/Link-->
                    <form>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <!--End of Loop-->
        </table>
    </body>
</html>