.login_section
{
    border: 2px solid blue;
    margin: auto;
    position: relative;
    text-align: center;
    top: 50%;
    width: 20%;  
}

.login_input
{
    height: 30px;
    width: 200px;
}

.login_button
{
    height: 30px;
    width: 100px;
}